<div class="control-group">
    <label class="control-label">Class code*</label>
    <div class="controls">
        {{input value=code type="text" autofocus="true" required="true"}}
		<span class="help-block">A class code which you got from your teacher, e.g. BC8N1F34 </span>
    </div>
</div>
<div class="control-group">
    <label class="control-label">Email*</label>
    <div class="controls">
        {{input value=email type="email" required="true"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label">Password*</label>
    <div class="controls">
        {{input value=password type="password" required="true"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label">Password Confirmation*</label>
    <div class="controls">
        {{input value=password_confirmation type="password" required="true"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label">First name*</label>
    <div class="controls">
        {{input value=first_name type="text" required="true"}}
    </div>
</div>
<div class="control-group">
    <label class="control-label">Last name*</label>
    <div class="controls">
        {{input value=last_name type="text" required="true"}}
    </div>
</div>