<div class="page__header">
	<h1 class="page__title">Reset your password</h1>
</div>
{{#if isRequested}}
    <div class="msg--success">
		You will receive an email with instructions how to reset your password to your email address: {{email}}.
	</div>
{{else}}
    <form class="form-horizontal" {{action requestPasswordReset on="submit"}}>
        {{#if errorMessage}}
           <div class="alert alert-error">{{errorMessage}}</div>
        {{/if}}
        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                {{input value=email type="email" autofocus="true" required="true"}}
                <span class="help-block">
                    Please provide your email address you used to sign into OpenEd
                    <br>and we will send you link to create new password.
                </span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" {{bind-attr class=":btn :btn-large :btn-success isLoading:disabled" }}>
                    {{#if isLoading}}
                        Sending email...
                    {{else}}
                       Reset password
                    {{/if}}
                </button>
            </div>
        </div>
    </form>
{{/if}}

<p class="form-horizontal__help">{{#linkTo "profile.signin"}}Back to Sign in{{/linkTo}}</p>

