<div class="page__header">
	<h1 class="page__title">Change your password</h1>
</div>
<form class="form-horizontal" {{action resetPassword on="submit"}}>
	{{#if errorMessage}}
	   <div class="alert alert-error">{{errorMessage}}</div>
	{{/if}}
	<div class="control-group">
		<label class="control-label">New password</label>
		<div class="controls">
			{{input value=password type="password" autofocus="true" required="true"}}
		</div>
	</div>
    <div class="control-group">
        <label class="control-label">Confirm your new password</label>
        <div class="controls">
            {{input value=password_confirmation type="password" autofocus="true" required="true"}}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" {{bind-attr class=":btn :btn-primary isLoading:disabled" }}>
                {{#if isLoading}}
                   Password is changing...
                {{else}}
                   Change my password
                {{/if}}
            </button>
        </div>
    </div>
</form>