<div {{bind-attr id="id"}} class="popup">
    <div class="popup__header clearfix">
        <h1 class="popup__title title-style-h3 pull-left">Add to Playlist</h1>
        <button {{action closePlaylistsModal}} class="btn btn-small popup__close">Close</button>
    </div>

    <div class="popup__content">
		<div class="block">
			{{#if message}}
				<p class="msg--success">
					{{message}}
				</p>
			{{/if}}
			<ul class="list__blocks">
				{{#each item in playlists}}
					{{render "playlists/item" item}}
				{{else}}
					{{#unless content.isUpdating}}
						<p class="msg--empty">
							Playlists are collections of resources
							that you wish to share with students or other teachers.
						</p>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
        <form class="form-horizontal">
            <div class="control-group">
                {{input type="text" value=name placeholder="Enter new playlist name"}}
                <a {{action "createPlaylist"}} class="btn btn-success">Create Playlist</a>
            </div>
        </form>
    </div>
</div>