<div class="top-actions">
    <div class="btn-group">
        {{#link-to "classes" class="btn btn-small btn-inverse"}}<i class="icon-arrow-left"></i> Back to Course{{/link-to}}
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-small" {{action "discardChanges" this}} {{bind-attr disabled=isNotDirty}}>Discard Changes</button>
        <button title="Delete Class" class="btn btn-small" {{action "delete" this}}><i class="icon-trash text--normal"></i> Delete Class</button>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-small btn-success" {{action "saveChanges" this}} {{bind-attr disabled=isNotDirty}}>Save Changes</button>
    </div>
</div>